
$primaryColor: #83CEDB;
$darkColor: #1C2C5D;
$lightGray: #949CB5;
$redColor: #B94343;
$labelGray: #808080;

$primary: #83CEDB;
$secondary: #1C2C5D;
$small-br: 5px;
$medium-br: 10px;
$large-br: 15px;
$xlarge-br: 25px;
